// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

$red:    #d9534f;
$orange: #f0ad4e;
$yellow: #ffd500;
$green:  #5cb85c;
$blue:   #2968F6;
$teal:   #5bc0de;
$pink:   #ff5b77;
$purple: #613d7c;

$headings-font-family: 'Coda', cursive;
$grid-gutter-width-base: 0;
